/*=== ADD Your Custom Changes here ===*/

.block_media img {
  width: 100%;
}

#basic-details-section h4:after {
  content: '';
}

.security-question-section input[type="number"] {
  border: 1px solid #DDD;
}

.security-question-section + .submit {
  clear: both;
}

.content ul.question_options {
  clear: both;
  display: inline-block;
  width: 100%;
  list-style: none;
}

.block.courseitem span.amount {
  font-size: 16px !important;
}

.live-edit-sidebar, .live-edit-sidebar + .text-options {
  display: none;
}

.centeree {
  text-align: center;
}

.clearz {
  clear: both;
}

.price_tag {
  background: #e4e2e8;
}

.fullhomestripe.stripe {
  padding: 30px 0;
  background: #FFF;
}

.content {
  border: 1px solid #D5D4D2;
  /*-webkit-box-shadow: 0px 2px 15px -3px #cccccc;
  box-shadow: 0px 2px 15px -3px #cccccc;*/
}

.class_8_sub {
  padding: 0px;
  margin: 0px;
  border-left: 0px solid white;
}

.class_8_mainfoot {
  background: white;
  padding: 0px;
  border: 1px solid #CCCCCC;
}

.class_10_mainfoot {
  background: white;
  padding: 0px;
  border: 1px solid #CCCCCC;
  border-top: none;
}

.class_8_mainfoot.footer-form, .send_chat {
  display: flex;
}
.class_8_mainfoot.footer-form .send-msg, .send_chat .send-msg {
  background: #1469A0;
  border: 1px solid #1469A0;
  font-size: 12px;
}
.class_8_mainfoot.footer-form .text-area, .send_chat .text-area {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.class_8_mainfoot.footer-form .text-area .course_query_message, .send_chat .text-area .course_query_message {
  width: 100%;
  margin-bottom: 0px !important;
}
.class_8_mainfoot.footer-form .text-area .upload-file-name, .send_chat .text-area .upload-file-name {
  width: 100%;
  border: 0px;
  border-top: 1px solid #CCCCCC;
  font-size: 13px;
  padding: 8px;
  position: relative;
}
.class_8_mainfoot.footer-form .text-area .upload-file-name #close_id, .send_chat .text-area .upload-file-name #close_id {
  float: right;
  cursor: pointer;
}
.class_8_mainfoot.footer-form .text-area .upload-file-name #close_id:before, .send_chat .text-area .upload-file-name #close_id:before {
  content: "x";
}

.class_8_mainfoot.footer-form .text-area .upload-file-name .img_doc, .send_chat .text-area .upload-file-name .img_doc {
  background-image: url('type_doc.png');
  background-position: -34px -88px;
}


.posted-file-name {
  min-height: 30px;
  width: 100%;
  background-color: #f6f7f8;
  border: 1px solid #e9eaed;
  font-size: 13px;
  padding: 15px 15px 15px 8px;
  position: relative;
}
.posted-file-name #close_id {
  float: right;
  cursor: pointer;
}
.posted-file-name #close_id:before {
  content: "x";
}
.posted-file-name .file-name {
  margin-left: 25px;
}

.type_doc {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  top: 50%;
  margin-right: 8px;
  float: left;
}

.img_doc {
  background-image: url('type_doc.png');
  background-position: -34px -88px;
}

.doc_doc {
  background-image: url('type_doc.png');
  background-position: -68px -88px;
}

.file-name-posted {
  font-size: 13px;

}

.footer-form .class_8_sub, .send_chat .class_8_sub {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-form .class_8_sub .fileinputs, .send_chat .class_8_sub .fileinputs {
  position: static;
}
.send_chat .class_8_sub div.fakefile {
  margin-top: -15px;
  margin-left: -15px;
  margin-top: -12px;
}

.class_bod {
  border: 1px solid #dddddd;
}


.class_8_me {
  background: #ebebeb;
}

.class_10_head {
  background: white;
  border: 1px solid #CCCCCC;
}

.class_10_even {
  border-bottom: 1px solid #CCCCCC;
  margin: 0px;
  padding: 5px 0;
  background: #ebebeb;
}

.class_10_odd {
  border-bottom: 1px solid #CCCCCC;
  margin: 0px;
  padding: 5px 0px;
  background: white;
}

.course_items_heading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 30px;
    /*display: inline-block;
    border-bottom: 1px solid rgba(51, 122, 183, 0.39);*/
    padding: 0 30px 9px;
    text-transform: uppercase;
    font-weight: 300;
}

.sub_heading_m {
  font: 17px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: block;
  text-transform: none;
}

.sec_cont_head {
  background: white;
  border-top: 1px #dddddd solid;
  margin-bottom: -30px;
}

.full_content_home {
  border-top: 1px #dddddd solid;
  border-left: 1px #dddddd solid;
  border-right: 1px #dddddd solid;
  background: #f9f9f9;
  border-radius: 5px 5px 0px 0px;
}

.calendar {
  width: 51px;
  min-height: 52px;
  position: absolute;
  top: -7px;
  right: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.27);
  border: 1px solid #cbc6c6;
}

/*.red {
  color: white;
  font-size: 10px;
  line-height: 10px;
  height: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #f28282;
  border: 1px solid #d84222;
  border-bottom-width: 0px;
  text-align: center;
  padding-top: 1px;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
}*/

.big-date {
  color: #000000;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  height: 24px;
  letter-spacing: -1px;
}

.small-date {
  color: #000000;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  font-weight: normal;
  height: 10px;
  padding-top: 1px;
  letter-spacing: -0.5px;
}

.r3b {
  border-bottom-right-radius: 3px 3px;
  -webkit-border-bottom-right-radius: 3px 3px;
  border-bottom-left-radius: 3px 3px;
  -webkit-border-bottom-left-radius: 3px 3px;
}

.overlay {
  background: rgba(0, 0, 0, 0.9);
  /*can be anything, of course*/
}

.button-primarysd {
  color: white;
  text-shadow: 0 1px 0 #80a53a;
}

.splash-sub-title {
  display: block;
  font-size: 2em;
  color: white;
  margin-bottom: 35px;
}

.zooozzz {
  border: 2px solid #96bf48;
}

.zooozzz:hover {
  background: #96bf48;
  padding: 0 40px 0 40px;
  color: black;
}

.custom_btn {
  border: 2px solid #1469A0;
  color: #1469A0;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid #1469A0;
  font-weight: normal;
}

.custom_btn:hover {
  background: #1469A0;
  color: white;
}

.block_title {
height: 70px;
}

.md_row {
  background: #fff;
  /*padding: 20px 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-top: 25px;*/
}

.sm_inside {
  background: white;
}

.type_filter li label {
  cursor: pointer;
  /*color: #1469A0;*/
}

.tophead {
  background: #1f1f1f;
}

.tophead_2 {
  background: white;
}

.menu {
  list-style: none;
  color: white;
}

.menu li {
  float: left;
  height: 52px;
  padding: 10px 15px 0 0;
}

.collapse .menu-2 li {
  float: left;
  height: 30px;
  padding: 5px 15px;
  text-transform: capitalize;
  position: relative;
  margin-top: 1px;
}

.menu-2 li ul {
  position: absolute;
  left: 10px;
  top: 83%;
}

.menu-top-2 {
  float: right;
  height: 40px;
}

.menu-top-2 li {
  float: left;
  height: 52px;
  padding: 17px 15px;
  position: relative;
}

.menu-top-2 li a {
  color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu-top-2 li a:hover {
  color: #337ab7;
}

.menu-top-2 li > ul
{
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 0px;
  width: 170px;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  z-index: 999;
  pointer-events:none;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
}
.menu-top-2 li ul.clsrch ul
{
  margin-left: -40px;
  top: 0;
  left: 160px;
  opacity: 0;
  visibility: hidden;
  width:132px;
}
.menu-top-2 li:hover > ul
{
  opacity: 1;
  pointer-events:fill;
}
.menu-top-2 li ul.clsrch li:hover ul
{
  opacity: 1;
  visibility: visible;
  margin-left: 0px;
}
.menu-top-2 li > ul > li
{
    background-color: rgba(255,255,255,1.0);
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #cccccc;
}
.menu-top-2 li > ul > li > a
{
    color: rgba(51, 51, 51, 0.81);
    text-transform: capitalize;
    font-weight: normal;
}
.menu-top-2 li ul.clsrch ul li
{
  background-color: #3D3C3C !important;
  padding: 12px 16px;
}
.clsrch li
{
  background-color: #1f1f1f !important;
  border-bottom: 1px solid rgba(204, 204, 204, 0.45) !important;
  padding: 12px 10px;
  height: inherit;
}
.clsrch li a
{
  color: #ffffff !important;
  text-transform: uppercase;
}
.clsrch li a:hover
{
  color: #337ab7 !important;
}
.hover {
  padding: 0px 3px;
}

.hover:hover {
  color: #0e78a6;
  cursor: pointer;
}

.bar {
  border-left: 1px solid #333333;
}

.fixed_head {
  position: fixed;
  top: 0;
  z-index: 9999;
  margin: 0 auto;
  width: 100%;
}

.ssshadow {
  -webkit-box-shadow: 0px 1px 4px 0px #e1e0de;
  box-shadow: 0px 1px 4px 0px #e1e0de;
}

.mobilemenuz {
  display: none;
  position: fixed;
  top: 0;
  z-index: 9999;
  margin: 0 auto;
  width: 100%;
}

.mobilemenuz header {
  width: 100%;
}

.mobile_m li {
  width: 90%;
  text-align: left;
  cursor: pointer;
}

.mobile_m li a {
  color: white;
}

.mobile_m li:hover {
  background: #333333;
}

.mmenuwful {
  height: auto;
}

.mmbg {
  height: auto;
  background: #282828;
}

.mobilemenu_extended {
  display: none;
}



.navbar-collapse .menu-2 {
  display: table;
  margin: 0 auto;
  float: none;
  width: auto;
}

.navbar-collapse .menu-2.menu-dashboard {
  /*display: inline-block;
  margin: 5px 0 0 0;
  float: left;
  width: auto;
  height: 34px;*/
}
.navbar-collapse .menu-2.menu-dashboard li
{
  margin-top: 0px;

}

.menu-top-2-width li {
  padding: 5px 10px;
  margin-top: 5px;
  height: auto;
}

#username_id {
  font-size: 13px;
}

.container > .navbar-header {
/*  background: #000;*/
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background: #333;
}

.navbar-header .navbar-brand {
  display: none;
}


.profile-area {
  background: #fbfbfb;
  border: solid #ddd 1px;
  border-radius: 5px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 2px 20px -3px #ddd;
  box-shadow: 0px 2px 20px -3px #ddd;
  margin-top: 40px;
}

.main_margin

{
  margin-bottom: 10px;
  margin-top: 70px;
}

.main_margin2{
  padding-top: 22px;

  margin-bottom: 10px;
}

.main_margin1

{

  padding-top: 40px;

 margin-bottom: 9px;

 }

 .head-bt {
  background: #1469A0;
  color: white !important;
  text-shadow: 1px 1px #333333;
  padding: 5px 11px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
}

/* for drop down */
.menu-2 li {position: relative;}
.menu-2 li ul {
      border: 1px solid #cccccc;
    position: absolute;
    top: 20px;
    left: 20px;
    border-top: 0px;
    background: white;
    margin-top: 5px;
    border-radius: 0px 0px 3px 3px;
    display: none;
}

.menu-2 li:hover > a {
  color: #1469A0;
}

.menu-2 li:hover > ul {
  border: 1px solid #cccccc;
  border-top: 0px;
  margin-top: 10px;
  border-radius: 0px 0px 3px 3px;
  display: block;
  min-width: 215px;
  background: white;
  color: #1469A0;
  margin-left: -5px;
}

.menu-2 li ul li:hover > a {
  text-decoration: none;
  color: #000000;
  outline: none;
  border: 0px;
}

.menu-2 li ul li {
  float: none;
  text-align: left;
  background: white;
  width: 100%;
}

.menu-2 li ul li a {
  color: #1469A0;
}

/* menu ends */
/*sidebar starts */



input[type=radio].css-checkbox, .user-type input[type=radio]{
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
input[type=checkbox].css-checkbox{
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox + label.css-label
  {
  padding-left: 26px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 13px;
  vertical-align: middle;
  cursor: pointer;
  font-weight: normal;
  
}

input[type=checkbox].css-checkbox:checked + label.css-label{
  background-position: 0 -15px;
}











.filter-style{
    background: #28998b;
    color: #fff;
    padding: 3px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: bold;
}

input[type=radio].css-checkbox + label.css-label,.user-type input[type=radio] + label
  {
  padding-left: 26px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 13px;
  vertical-align: middle;
  cursor: pointer;
  font-weight: normal;
  
}

input[type=radio].css-checkbox:checked + label.css-label, .user-type input[type=radio]:checked + label{
  background-position: 0 -15px;
}

label.css-label {
  background-image: url('/images/csscheckbox_d9f116903286cc58c421041a7becfbc6.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
label.css-label.cklab {
  background-image: url('/images/tik.png') !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.hoverz:hover {
  text-decoration: underline;
  color: #1469A0;
}

.hover_blue:hover {
  color: #1469A0;
}

.hover_bluez:hover {
  text-decoration: underline;
  color: #1469A0 !important;
}

/* code cleaning */
.homepageslider.stripe {
  margin-top: 0;
}

.slide_con {
  height: 580px;
  background: url('/images/images/HomePIC.jpg') no-repeat center center;
  margin-top: 45px;
}

.layrrslide {
  width: 100%;
  height: 574px;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 0px;
  display: block;
}

.blockz {
  display: block;
}

.heading_slider {
  top: 184px;
  left: 27%;
  font-size: 2.5em;
  color: #fff;
  line-height: 1em;
  margin-bottom: 10px;
  font-weight: bold;
}

.subheader_slider {
  top: 240px;
  left: 33%;
  font-size: 1.8em;
}

.buttns_1 {
  top: 327px;
  left: 36%;
}

.btn-warning:hover {
  background: #e63535;
  background-image: url('/images/button.png');
  border: 1px solid #78c8c9;
}

/*code cleaning ends */
.bluhob:hover {
  color: #1469A0;
}

/* index.php */
.bkg {
  background: url('/images/Oriz.jpg') no-repeat center center;
  margin-top: 89px;
  background-size: cover;
  width: 100%;
  float: left;
}

.lscon {
  width: 100%;
  height: 574px;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 0px;
  display: block;
}

.dblock {
  display: block;
}

.lshead {
  top: 184px;
  left: 27%;
  font-size: 2.5em;
  color: #fff;
  line-height: 1em;
  margin-bottom: 10px;
  font-weight: bold;
}

.lssubhead {
  top: 240px;
  left: 33%;
  font-size: 1.8em;
}

.lsbtn1 {
  top: 56%;
  left: 36%;
}

.sngup {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
}

.sngup:hover {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
}

.expcont {
  top: 56%;
  left: 49%;
}

.attherate {
  width: 44.5% !important;
}

.classisof {
  width: 29% !important;
}

.lnknk {
  margin-top: 5px !important;
}

.pick-cat {
  border-bottom: 1px solid #fff;
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  height: 11px;
}

.login-bottom .pick-cat {
  border-bottom: 1px solid #d7d7d7;
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  height: 11px;
}

.tophead .container
{
    width: 100%;
}




label[for=course_query_message] { margin-bottom: 0px;}

.expz {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
}

.expz:hover {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
}

.marpad {
  margin: 0px !important;
  padding: 0px !important;
}

.hitemcon {
  -webkit-box-shadow: 3px 2px 9px 0px rgba(221, 221, 221, 0.75);
  box-shadow: 3px 2px 9px 0px rgba(221, 221, 221, 0.75);
  border: 1px solid #dddddd;
  height: auto;
}

.hitemimg {
  margin: 5% !important;
  height: auto;
  width: 232px !important;
  min-width: 90%;
  margin-top: 10px !important;
}

.borderz {
  border: 0px !important;
  border-top: solid #ddd 1px !important;
  margin-top: 4px;
}

.btitl {
  border: 0px !important;
  font-size: 15px !important;
}

.ratmepro {
  float: left;
  margin-top: -8px;
  margin-left: 0 !important;
}

.revietex {
  float: right;
  margin-top: -8px;
  font-weight: normal;
}

.btnprie {
  margin: 0px;
  border-radius: 0px;
  background: #1469A0;
  border: 1px solid #1469A0;
}

.btnprie:hover {
  margin: 0px;
  border-radius: 0px;
  background: #1469A0;
  border: 1px solid #1469A0;
}

.btntext {
  letter-spacing: 1px;
  font-size: 15px;
}

.viewall {
  text-align: right;
  padding: 15px;
  font-size: 16px;
  font-weight: normal;
  color: #444444;
}

.custom_block img {
  max-width: 80px;
  padding: 15px 0;
}

.custom_block h3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 0;
}

.custom_block h3 + p {
  color: #bbb;
  margin-top: 0;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.aligncenter {
  text-align: center;
}

.divider_opportunities {
  border-bottom: 1px solid #dddddd;
  color: white;
}

.hitemopporcontainer {
  margin: 0px;
  padding: 0px;
  margin-top: -30px;
}

.redurge {
  padding: 0px;
  right: 10px;
  border-radius: 0px;
  background: white;
}

.opportunitycont {
  background: #fff;
  border-bottom: 1px solid #bbbbbb;
}

.ooportunity_head {
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  line-height: 20px;
}

.ooportunity_subhead {
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  margin-top: 3px;
}

.ooportuniyt_head {
  margin: 0px;
  padding: 0px;
  margin-left: 0px !important;
  margin-top: -15px !important;
}

.ooportuniyt_subhead {
  margin: 0px;
  padding: 0px;
  margin-left: 40px;
  padding-bottom: 10px;
}

.btnapplycondi {
  margin: 0px;
  border-radius: 0px;
  background: #96bf48;
  border: 1px solid #96bf48;
}

.btnapplytext {
  letter-spacing: 1px;
  font-size: 15px;
}

.btnapplycondi:hover {
  margin: 0px;
  border-radius: 0px;
  background: #96bf48;
  border: 1px solid #96bf48;
}


.logincont {
    border-radius: 5px !important;
    /* -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4) !important; */
    /*-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4) !important;
     box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4) !important; */
    border: 1px solid #CCCCCC !important;
    /* background: white !important; */
    padding: 30px 25px !important;
}

.loginbtnz, .btn-default.loginbtnz:hover,.btn-default.loginbtnz:active,.btn-default.loginbtnz:visited,.btn-default.loginbtnz:focus {
    background: #1469A0 !important;
    color: white !important;
    /* text-shadow: 1px 1px #333333; */
    /* box-shadow: 1px 1px 5px black; */
    border: 0px;
    height: 40px;
    margin-left: 0;
    text-transform: uppercase;
}

.loginbtnfot {
    margin: 0px;
    /* width: 100%; */
    /* border-top: 0px; */
    border: 1px solid #CCCCCC;
    padding: 0px;
    border-radius: 3px;
    margin-top: 10px;
    background: #dedede;
    float: none;
    margin: auto;
    margin-top: 20px;
}

.loginfoottext {
  color: #323232;
  font-size: 13px;
  text-align: center;
  padding: 0px;
  margin: 10px;
}
.loginfoottext a
{
  font-weight: 600;
  text-transform: uppercase;
}
.gpl {
  height: 45px;
  cursor: pointer;
  margin-left: 5px;
}

.fbp {
  height: 45px;
  cursor: pointer;
  margin-left: -2px;
}

.aur {
  text-align: center;
  font-size: 18px;
  background: white;
  padding: 10px;
  margin-top: 50px;
  color: #555555;
  font-weight: normal;
}

/*6.php */
/*m1.php*/
.m1co {
  margin-top: -5px;
  padding: 0px 15px 0px 30px;
}

.m1cosub {
  height: 230px;
  float: left;
  width: 100%;
  font-size: 12px;
}

.m1cosubsub {
  margin: 50px 50px 50px 50px;
}

.headm1co {
  font-size: 20px;
  text-transform: none;
  text-align: center;
  font-weight: bold;
}

.headm1con {
  font-size: 14px;
  text-transform: none;
  text-align: left;
  margin-top: 30px;
}

.subtextm1co {
  font-size: 14px;
  text-transform: none;
  text-align: left;
  margin-top: 10px;
}

.getstartedcon {
  font-size: 14px;
  text-transform: none;
  text-align: left;
  margin-top: 30px;
}

.butnnscon {
  margin: 0px;
  border-radius: 5px;
  background: #1469A0;
  border: 1px solid #0f78a6;
  padding: 10px 15px;
  -webkit-box-shadow: 1px 0px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 0px 4px 0px rgba(50, 50, 50, 0.75);
  margin-left: 20%;
}

.butnnscon:hover {
  border-radius: 5px;
  background: #1469A0;
  border: 1px solid #0f78a6;
  -webkit-box-shadow: 1px 0px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 0px 4px 0px rgba(50, 50, 50, 0.75);
}

.applybtnconm1 {
  letter-spacing: 1px;
  font-size: 14px;
  text-shadow: 1px 1px black;
}

.m1confoottext {
  font-size: 14px;
  text-transform: none;
  text-align: center;
  margin-top: 20px;
}

.subtexp {
  margin-top: -45px;
}

.btns22lastone {
  margin: 0px;
  border-radius: 5px;
  background: #1469A0 !important;
  border: 1px solid #0f78a6;
  padding: 10px 15px;
  width: 150px;
  margin-left: 15px;
  margin-top: -3px;
}

.topcontainer_m {
  display: none;
}
.course_items_heading_254 {
  margin-top: -20px !important;
}
#chart-1 {

  float: left;
  width: 100%;
  font-size: 12px;
  text-align: left;

}

.new_chatbox {
  height: 100%;
}
.new_chatbox1
 {
  height: 21.2em;
  overflow-y: auto;
}

.searchbox_margin1 {
  margin-top: -32px !important;
  float: right !important;
  margin-right: 10px;
  position: relative;
}

.list > ul {
  list-style: none;
  margin: 17px 20px 20px 24px;
  width: 330px;
}

.list > li {
  display: block;
  padding: 5px;
  background-color: #ccc;
  border-bottom: 1px solid #367;
  z-index: 999;
  position: relative;
}

div#display {
  position: absolute;
  width: 100%;
  top: 24px;
  z-index: 999;
}
div#sdisplay {
  position: absolute;
  width: 100%;
  top: 24px;
  z-index: 999;
}
ul.dropdown-menu {
  width: 100%;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  white-space: normal;
  text-align: left;
  word-wrap: break-word;
}

.chatboxtextarea {
  width: 100%;
  height: 2.750em;
}

.remeber_me_login {
  margin-top: -9px;
  padding-left: 0px !important;
}


.currency-converter {
  font-size: 13px;
}

.profile-details {
  width: 100%;
  word-wrap: break-word;
}

.send_messg_button:hover a {
  color: #fff;
}

.view-profile .last-active {
  float: left;
  width: 100%;
  height: auto;
}

.video_chat_box.clearz.chatboxhead .class_mar_pad {
  width: 40px;
}
.video_chat_box.clearz.chatboxhead .class_mar_pad .profile_pic_circle {
  width: 40px;
  height: 40px;
}
/*.video_chat_box.clearz.chatboxhead .chat_margin {
  width: calc(100% - 45px);
}*/


#showtime span, #starttime span
{
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
}


.my-coursr::-webkit-scrollbar { 
    display: none; 
}


.srch-sec {
    float: right;
}
.srch-ap {
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 9;
}
.srch-sec span {
    width: 37px;
    height: 37px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: inline-block;
    line-height: 34px;
    text-align: center;
    font-size: 17px;
    color: #323232;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 0 0 0 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.srch-sec span:hover {
    color: #337ab7;
}
.open-srch-sec {
    position: fixed;
    width: calc(100%);
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(31, 31, 31, 0.9);
    z-index: 9999;
}
.open-srch-sec .clse-btn {
    position: absolute;
    top: 50px;
    right: 10px;
    cursor: pointer;
    display: block;
    transition: all 0.4s;
}
.open-srch-sec .clse-btn:hover {
    transform: scale(1.2);
}
.open-srch-sec .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.open-srch-sec .container h3 {
    color: #ffffff;
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 20px;
}
.open-srch-sec .container .srch-tct-fld {
    margin: 0 0 50px 0;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.open-srch-sec .container .srch-tct-fld input {
    height: 50px;
    font-weight: 500;
    width: 100%;
    border: 0;
    padding: 0 10px;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0px;
}
.open-srch-sec .container button {
    background-color: #337ab7;
    height: 50px;
    width: 14%;
    font-size: 15px;
    border: 1px solid #337ab7;
    transition: all 0.4s;
    border-radius: 3px;
    text-transform: uppercase;
    color: #ffffff;
}
.open-srch-sec .container button:hover {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}

    .arrow:hover {cursor: pointer;}
    .arrow {
    position: absolute;
    bottom: 22%;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url(/images/down-arrow.svg);
    background-size: contain;
    z-index: 9;
    }
    .bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    }
    .item img {padding: 6%;}
    /* Scroll down indicator (bouncing) */
    @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
    40% {
    -webkit-transform: translateY(-30px); }
    60% {
    -webkit-transform: translateY(-15px); } }
    @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
    40% {
    -moz-transform: translateY(-30px); }
    60% {
    -moz-transform: translateY(-15px); } }
    @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
    40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
    60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } }


/*responsive menu */
@media (min-width: 300px) and (max-width: 980px) {
  .mobilemenuz {
    display: block;
  }

  .stripe {
    margin-top: -45px;
  }

  .navbar-header .navbar-brand {
    color: #fff;
    font-size: 30px;
    text-align: center;
    width: 100%;
    float: left;
    margin-top: -50px;
    display: block;
  }
}
@media (min-width: 320px) {
  .attherate {
    width: 42% !important;
  }
}
@media (min-width: 320px) and (max-width: 360px) {
  .lshead {
    top: 144px;
    left: 0;
    font-size: 28px;
    color: #fff;
    line-height: 1em;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }

  .lssubhead {
    text-align: center;
    font-size: 16px;
    left: 9%;
  }

  .lsbtn1 {
    top: 55%;
    left: 22%;
  }

  .expcont {
    top: 65%;
    left: 22%;
  }

  .logincont {
    margin-left: 13px;
  }
}
@media (min-width: 420px) and (max-width: 650px) {
  .lshead {
    top: 144px;
    left: 10%;
    font-size: 25px;
    color: #fff;
    line-height: 1em;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }

  .lssubhead {
    text-align: center;
    font-size: 20px;
    left: 15%;
    text-align: center;
  }

  .lsbtn1 {
    top: 55%;
    left: 30%;
  }

  .expcont {
    top: 65%;
    left: 30%;
  }

  .logincont {
    margin-left: 13px;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .lshead {
    top: 184px;
    left: 10%;
    font-size: 2.5em;
    color: #fff;
    line-height: 1em;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .lssubhead {
    top: 240px;
    left: 20%;
    font-size: 1.8em;
  }

  .lsbtn1 {
    top: 56%;
    left: 25%;
  }

  .expcont {
    top: 56%;
    left: 45%;
  }

  .type_filter li {
    height: 35px !important;
  }
}
@media (min-width: 980px) and (max-width: 1025px) {
  .lshead {
    top: 184px;
    left: 18%;
    font-size: 2.5em;
    color: #fff;
    line-height: 1em;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .lssubhead {
    top: 240px;
    left: 26%;
    font-size: 1.8em;
  }

  .lsbtn1 {
    top: 56%;
    left: 32%;
  }

  .expcont {
    top: 56%;
    left: 50%;
  }

  .type_filter li {
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 360px) {
  .m1confoottext {
    font-size: 12px;
    text-transform: none;
    text-align: left;
    margin-top: 20px;
    margin-left: 3%;
  }

  .headm1co {
    margin-top: -25px;
    font-size: 14px;
  }

  .headm1con {
    font-size: 12px;
  }

  .subtextm1co {
    font-size: 12px;
  }

  .butnnscon {
    margin-left: -15px;
  }

  .subtexp {
    margin-top: -20px;
  }

  .btns22lastone {
    margin-left: 17% !important;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .m1confoottext {
    font-size: 13px;
    text-transform: none;
    text-align: center;
    margin-top: 20px;
    margin-left: -5px;
  }

  .butnnscon {
    margin-left: 34%;
  }

  .btns22lastone {
    margin-left: 32% !important;
  }
}
@media (min-width: 100px) and (max-width: 1024px) {
  .bkg {
    margin-top: 0;
  }

  .m-logo img {
    height: 27px;
    margin-top: 11px;
  }

  .main_margin {
  }

  .profile-area {
    margin-top: 30px;
  }

  

  .topcontainer_m {
    display: block;
  }

  .tophead {
    display: none;
  }

  .course_items_heading_254 {
    margin-top: auto !important;
  }

  .navbar-default .navbar-brand {
    display: none;
  }

  .navbar.navbar-default {
    display: block;
    height: auto;
    box-shadow: none !important;
  }

  .searchbarcotna {
    width: 100%;
    background: rgba(225, 226, 227, 0.9);
    height: auto;
    padding-top: 20px;
    display: none;
    z-index: 100000;
    position: absolute;
    margin-top: -25px;
  }

  .topcontainer_m {
    height: 50px;
    background: #1f1f1f;
    z-index: 99999;
    position: fixed;
  }
  .tophead_2 {margin-top: 50px;}

  .menu_btncontainer_m {
    float: left;
    margin: 0px;
    padding: 0px;
  }

  .menu_btncontainer_m img:hover {
    cursor: pointer;
  }

  .searchcontainer_m img:hover {
    cursor: pointer;
  }

  .logocontainer_m img:hover {
    cursor: pointer;
  }

  .logocontainer_m {
    text-align: center;
  }

  .searchcontainer_m {
    margin: 0px;
    padding: 0px;
  }

  .searchbarcotna {
    width: 100%;
    background: #F9F9F9;
    height: auto;
    padding-top: 20px;
    display: none;
  }

  .mb_mnu {
    border: 1px solid #dddddd;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 2px;
    background: #ffffff;
    margin-bottom: 30px;
  }

  .mb_mnu li {
    height: 30px;
    padding: 5px;
    border-bottom: 1px solid #dddddd;
    color: #1f1f1f;
    font-size: 12px;
  }

  .mb_mnu li:hover {
    color: #1469A0;
  }

  .lastie {
    border: 0px !important;
  }

  .mb_serc {
    color: #1f1f1f;
    border: 0px;
    width: 100%;
  }

  .makediff {
    margin-bottom: 15px;
  }

  .makediff li {
    border: 0px;
  }

  .seasrasch_masd {
    height: 17px;
    margin-top: 14px;
    margin-right: 10px;
    cursor: pointer;
    background: url('/images/searchwhite_active.png') right center no-repeat;
  }

  .opns_men {
    height: 26px;
    width: 26px;
    background: url('/images/1437075452_menu_active.png') no-repeat;
    margin-top: 10px;
    cursor: pointer;
  }

  .opns_men_active {
    height: 26px;
    width: 26px;
    background: url('/images/1437075452_menu.png') no-repeat;
    margin-top: 10px;
  }

  .seasrasch_masd_active {
    height: 17px;
    margin-top: 14px;
    margin-right: 10px;
    cursor: pointer;
    background: url('/images/searchwhite.png') right center no-repeat;
  }

  .rightblacksmall_menu {
    background: #373535;
    height: auto;
    position: fixed;
    top: 50px;
    z-index: 999999;
    width: 100%;
    left: 0;
    box-shadow: inset 0px 0px 8px -1px #141414;
    -webkit-box-shadow: inset 0px 0px 8px -1px #141414;
    -o-box-shadow: inset 0px 0px 8px -1px #141414;
    display: none;
  }

  .rightblacksmall_menu ul {
    margin: 0px;
    padding: 0px;
  }

  .rightblacksmall_menu ul a {
    border-bottom: 1px solid #141414;
    border-bottom: 1px solid #434040;
    color: #ffffff;
    padding: 8px 10px;
    display: block;
    cursor: pointer;
  }
  .rightblacksmall_menu ul li.item-child ul li a{
    text-transform: none;
  }
  .rightblacksmall_menu ul li {
    width: 100%;
    color: white;
    padding: 0 10px;
    text-align: left;
    font-size: 15px;
    position: relative;
  }
  .rightblacksmall_menu ul li.item-child ul
  {
    background-color: rgb(57, 57, 57);
    display: none;
  }
  .rightblacksmall_menu ul li.item-child ul li
  {
    padding:0px;
  }
  .rightblacksmall_menu ul a:hover
  {
    color: #337ab7;
  }
  .rightblacksmall_menu ul ul ul
  {
    background-color: rgb(76, 76, 76);
    display: none;
  }
  span.sub-click
  {
      position: absolute;
      top: 0px;
      bottom: 0;
      right: 0;
      cursor: pointer;
      text-align: right;
      width: 100%;
  }
  span.sub-click i
  {
    margin: 10px;
  }
  .rightblacksmall_menu ul li:hover {
    color: #337ab7;
  }

  .add_bodef {
    border-right: 1px solid #434040;
    height: 50px;
  }


  .pick-cat {
    border-bottom: 1px solid #fff;
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 11px;
  }

  .pick-cat .aursda {
    position: relative;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    background: #fff;
    color: #333;
  }

  .searchbarcotna {
    padding-left: 15px;
    margin-top: 2px;
    padding-right: 15px;
  }

  .mb_mnu {
    float: left;
    width: 100%;
    margin: 0;
  }

  .menu-2 li:first-child a, .menu-top-2 li:first-child a {
    border-top: 0;
  }

  .mb_serc {
    color: #1f1f1f;
    border: 0px;
    width: 100%;
    padding: 6px 15px;
  }

  .mb_mnu.makediff li {
    padding: 0;
  }
}
@media (max-width: 766px) {

  .navbar-collapse .menu-2 {display: block;}
  .navbar-collapse .menu-2 li {float: none; height: auto; border-bottom: 1px solid #ccc; padding: 5px 0; text-align: center;}
  .navbar-collapse .menu-2 li:last-child {border-bottom: none;}
  .navbar-collapse .menu-2 li a { padding-left: 5px;}
  .navbar-collapse .menu-2 li ul {position: relative; top: 4px; left: 0px; border:none; padding: 0px; margin: 0px; transition: display 1s ease;}
  .navbar-collapse .menu-2 li ul li {border-bottom: none; border-top: 1px solid #ccc;}
  .navbar-collapse .menu-2.menu-dashboard {height: auto;}
  .navbar-toggle {margin-left: 15px;}


  .navbar-collapse .menu-2.menu-dashboard {
    width: 100%;
  }

  .pick-cat .aursda {
    position: relative;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    background: #fff;
    color: #333;
  }

  .searchbarcotna {

    padding-left: 15px;
    margin-top: 2px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom:15px;
  }

  .mb_mnu {
    float: left;
    width: 100%;
    margin: 0;
  }

  .menu-2 li:first-child a, .menu-top-2 li:first-child a {
    border-top: 0;
  }

  .mb_serc {
    color: #1f1f1f;
    border: 0px;
    width: 100%;
    padding: 6px 15px;
  }

  .mb_mnu.makediff li {
    padding: 0;
  }
}
@media (max-width: 767px){
  .enroll-page-left-column{
    width: 100%;
  }
}
@media (min-width: 768px){

  .enroll-page-left-column{
    width: 65%;
  }

  .enroll-page-right-column{
    float:right;
  }

  .paycont{
    background: #fff;
    border: 1px solid #cccccc;
  }
}
@media (max-width: 768px){
 .enroll-page-right-column{  margin-top: 20px; }
 .paycont{
        width: 100%;
         border: 1px solid #cccccc;
         background: white;

 }
 .tophead_2 {margin-top:50px;}
}
@media (min-width: 459px) and (max-width: 691px){

  .paycont { margin-left: 0%; }
}
@media (min-width: 692px){

  .profile-col-6-aboutMe{
    width: 49%;
    float: right;
  }

  .profile-col-6-details{
    width: 49%;
  }
}
@media (max-width: 691px){

  .profile-col-6-aboutMe{
    width: 100%;
    float: right;
  }

  .profile-col-6-details{
    width: 100%;
  }
}
